.full-recipe-card {
    border: solid 2px rgb(193, 184, 7);
    border-radius: 8px;
    overflow: hidden;
    margin: 25px;
    box-shadow: 0 4px 8px rgba(26, 3, 129, 0.826);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .full-recipe-image img {
    width: 100%;
    height: auto;
  }
  
  .full-recipe-title {
    padding: 16px;
    background-color: #f8f8f8;
  }
  
  .full-recipe-details {
    padding: 16px;
  }
  
  .full-recipe-details h4 {
    margin-top: 0;
  }
  
  .full-recipe-details ul {
    list-style-type: none;
    padding: 0;
  }
  
  .full-recipe-details ul li {
    margin-bottom: 8px;
  }