.recipe-card {
    width: 70%;
    min-width: fit-content;
    min-height: fit-content;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    gap: 20px;
    border: solid 2px #777;
    padding: 30px;
    margin: 20px;
    float: right;
    border-radius: 45px;
    align-items: center;
    background-color: rgb(32, 28, 36);
}
.recipe-image img {
    border-radius: 45px;
    max-width: 500px;
    max-height: 300px;
}

.recipe-title {
    padding: 10px;
    grid-column: 2;
    text-align: center;
}

.recipe-info {
    border: rgb(222, 205, 51) solid 2px;
    border-radius: 45px;
    padding: 10px;
    text-align: center;
    min-width: 100px;
}